{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }


  .section-{{ section.id }}
  -padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}
    -padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer gradient section-{{ section.id }}-padding">
  <div class="footer__content-top page-width scroll-trigger animate--slide-in" data-cascade>
    <div class="footer-block__newsletter">
      <hgroup>
        <h2>Inscrivez-vous à notre newsletter</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi augue dui, ornare mattis hendrerit nec, consequat</p>
      </hgroup>

      {%- form 'customer'
        , id: 'ContactFooter'
        , class: 'newsletter-form' -%}
        <input
          type="hidden"
          name="contact[tags]"
          value="newsletter">
        <div class="field">
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field__input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="ContactFooter-error"
            {% elsif form.posted_successfully? %}
            aria-describedby="ContactFooter-success"
            {% endif %}
            placeholder="{{ 'newsletter.label' | t }}"
            required>
          <label class="field__label" for="NewsletterForm--{{ section.id }}">
            {{ 'newsletter.label' | t }}
          </label>
          <button
            type="submit"
            class="newsletter-form__button field__button"
            name="commit"
            id="Subscribe"
            aria-label="{{ 'newsletter.button_label' | t }}">
            {% render 'icon-arrow' %}
          </button>
        </div>
        {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="ContactFooter-error">
            {%- render 'icon-error' -%}
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </small>
        {%- endif -%}
        {%- if form.posted_successfully? -%}
          <h3
            class="newsletter-form__message newsletter-form__message--success form__message"
            id="ContactFooter-success"
            tabindex="-1"
            autofocus>
            {% render 'icon-success' -%}
            {{- 'newsletter.success' | t }}
          </h3>
        {%- endif -%}
      {%- endform -%}
    </div>
    {%  render 'breadcrumb' %}
  </div>
  <div class="footer__content-bottom scroll-trigger animate--slide-in" data-cascade>
    <div class="footer__content-bottom-wrapper page-width">
      <p>1</p>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content">
                    <a href="{{ policy.url }}">{{ policy.title }}</a>
                  </small>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.header__1.content",
        "info": "t:sections.footer.settings.header__1.info"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "default": true,
        "label": "t:sections.footer.settings.newsletter_enable.label"
      },
      {
        "type": "inline_richtext",
        "id": "newsletter_heading",
        "default": "Subscribe to our emails",
        "label": "t:sections.footer.settings.newsletter_heading.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__9.content",
        "info": "t:sections.footer.settings.header__9.info"
      }, {
        "type": "checkbox",
        "id": "enable_follow_on_shop",
        "default": true,
        "label": "t:sections.footer.settings.enable_follow_on_shop.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__2.content",
        "info": "t:sections.footer.settings.header__2.info"
      }, {
        "type": "checkbox",
        "id": "show_social",
        "default": true,
        "label": "t:sections.footer.settings.show_social.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__3.content",
        "info": "t:sections.footer.settings.header__4.info"
      }, {
        "type": "checkbox",
        "id": "enable_country_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_country_selector.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__5.content",
        "info": "t:sections.footer.settings.header__6.info"
      }, {
        "type": "checkbox",
        "id": "enable_language_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_language_selector.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__7.content"
      }, {
        "type": "checkbox",
        "id": "payment_enable",
        "default": true,
        "label": "t:sections.footer.settings.payment_enable.label"
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.header__8.content",
        "info": "t:sections.footer.settings.header__8.info"
      }, {
        "type": "checkbox",
        "id": "show_policy",
        "default": false,
        "label": "t:sections.footer.settings.show_policy.label"
      }, {
        "type": "header",
        "content": "t:sections.all.spacing"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.footer.settings.margin_top.label",
        "default": 0
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}